<!DOCTYPE html>

<html lang="cs">

  <head>
    {{ partial "head.html" . }}
    {{ partial "styles.html" . }}
  </head>

  <body>
    <main>
      {{ partial "header.html" . }}
      <div class="card shadow warning-card">
        <b>V roce 2022 nepronajímáme. Děkujeme za pochopení.</b>
      </div>
      {{ block "main" . }}
      {{ end }}
      {{ partial "footer.html" . }}
    </main>
    {{ partial "scripts.html" . }}
    {{ template "_internal/google_analytics.html" . }}
  </body>

</html>
