<footer id="footer-outer" class="container-fluid bg-grey shadow-up">
  <div id="footer-inner" class="row">
    <div class="col-md py-4">
      <h3>Chalupa</h3>
      <p>Adresa: Holičky 13</p>
      <p><a href="https://mapy.cz/turisticka?x=14.8574640&amp;y=48.9827323&amp;z=13&amp;source=coor&amp;id=14.862442222222223%2C48.97957777777778" target="_blank" rel="noopener">GPS: 48°58'46.48"N, 14°51'44.792"E</a></p>
      <p><a href="http://www.e-chalupy.cz/jizni_cechy/ubytovani-holicky-chalupa-u-janu-0269.php" target="_blank" rel="noopener">e-Chalupy.cz</a></p>
    </div>
    <div class="col-md py-4">
      <h3>Mobil</h3>
        <p><a href="tel:+420608434466" class="h-no-decor">(+420) 608 43 44 66</a></p>
        <p><a href="tel:+420777634466" class="h-no-decor">(+420) 777 63 44 66</a></p>
    </div>
    <div class="col-md py-4">
      <h3>Email</h3>
      <p><a href="mailto:info@ubytovani-ujanu.cz">info@ubytovani-ujanu.cz</a></p>
    </div>
  </div>
</footer>
