<!-- jQuery, Popper.js, Bootstrap -->
<script src="/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script src="/js/popper.min.js" type="text/javascript"></script>
<script src="/js/bootstrap.min.js" type="text/javascript"></script>
<!-- scrolling to footer -->
<script src="/js/scroll.js" type="text/javascript"></script>
<!-- Photoswipe -->
<script src="/js/photoswipe/photoswipe.min.js" type="text/javascript"></script>
<script src="/js/photoswipe/photoswipe-ui-default.min.js" type="text/javascript"></script>
<script src="/js/photoswipe/photoswipe-init.js" type="text/javascript"></script>
