{{ define "main" }}
  <div class="container-fluid">
    <div class="row">
      <div class="col-md left-half">
        {{ .Content }}
      </div>
      <div class="col-md right-half">
        <div id="slideshow" class="carousel slide w-100" data-ride="carousel">
          <ol class="carousel-indicators">
            {{ range $ix, $img := .Params.slideshow }}
              <li data-target="#slideshow" data-slide-to="{{ $ix }}" {{ if eq $ix 0 }}class="active"{{ end }}></li>
            {{ end }}
          </ol>
          <!-- Wrapper for slides -->
          <div class="carousel-inner rounded shadow">
            {{ range $ix, $img := .Params.slideshow }}
              <div class="carousel-item {{ if eq $ix 0 }}active{{ end }}">
                <img src="{{ $img }}" alt="{{ $img }}" class="d-block w-100">
              </div>
            {{ end }}
            <!-- Left and right controls -->
            <a class="carousel-control-prev" href="#slideshow" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Předchozí</span>
            </a>
            <a class="carousel-control-next" href="#slideshow" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Další</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
{{ end }}
